/* app/globals.css */

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Merriweather:wght@400;700&display=swap');

/* Import Leaflet CSS */
@import "leaflet/dist/leaflet.css";

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Inter', sans-serif; /* Apply the imported Inter font */
  background-color: white;
  color: #1F2937; /* Tailwind's gray-800 */
  transition: background-color 0.3s ease, color 0.3s ease;
}


